@import 'fonts/fonts';

$title-font: 'Lora', serif;
$mst3k-font: 'Denne Sketchy';
$desc-font: 'Roboto', sans-serif;
$ftr-font-color: #949494;
$ftr-font-size: 15px;

html,
body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: $desc-font;
}

html {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

main > p {
  font-family: $title-font;
  text-align: center;
}

.top-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px 10px 10px;
  margin: 20px auto;
  width: 300px;

  a {
    color: $ftr-font-color;
    font-size: $ftr-font-size;
    text-decoration: none;
  }
}

@mixin vid-container-size($size) {
  height: $size;
  width: $size;
}

@media only screen and (min-width: 350px) {
  .top-container {
    width: 350px;
  }
}

@media only screen and (min-width: 400px) {
  main > p {
    font-size: 18px
  }
}

@media only screen and (min-width: 450px){
  .top-container {
    width: 450px;
  }
}

@media only screen and (min-width: 550px){
  .top-container {
    margin: 30px auto;
    width: 550px;
  }
}

@media only screen and (min-width: 650px){
  .top-container {
    width: 650px;
  }
}

@media only screen and (min-width: 700px) {
  .top-container {
    display: none;
  }
}

@import 'about/about';
@import 'components/main-video/video';
@import 'components/sub-videos/sub-videos';
@import 'footer/footer';
@import 'header/header';
@import 'logo-bar/logo-bar';