@import 'fonts/fonts';
@import 'header/header';
@import 'about/about';
@import 'components/main-video/video';
@import 'components/sub-videos/sub-videos';
@import 'logo-bar/_logo-bar';

html,
body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}

html {
  padding: 0;
}

body {
  padding: 0;
}

main > p {
  text-align: center;
}