@font-face {
  font-family: 'Matryoshka';
  font-style: normal;
  font-weight: 400;
  src: local("Matryoshka"), url("fonts/denne-sketchy-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/matryoshka.woff") format("woff"), url("fonts/matryoshka.woff2") format("woff2"), url("fonts/matryoshka.ttf") format("truetype"), url("fonts/matryoshka.svg#matryoshka") format("svg"); }
@font-face {
  font-family: 'Denne Sketchy';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/denne-sketchy-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/denne-sketchy-webfont.woff2") format("woff2"), url("fonts/denne-sketchy-webfont.woff") format("woff"), url("fonts/denne-sketchy-webfont.ttf") format("truetype"), url("fonts/denne-sketchy-webfont.svg#denne__sketchyregular") format("svg"); }
@font-face {
  font-family: 'DenneMissing';
  src: local("Matryoshka"), url("fonts/matryoshka.woff") format("woff"), local("Markerfelt"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+24, U+7C; }
html,
body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: "Roboto", sans-serif; }

html {
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  padding: 0; }

main > p {
  font-family: "Lora", serif;
  text-align: center; }

.top-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px 10px 10px;
  margin: 20px 0; }
  .top-container a {
    color: #949494;
    font-size: 14px;
    text-decoration: none; }

@media only screen and (min-width: 400px) {
  main > p {
    font-size: 18px; } }
.about-container {
  margin: 30px 0 10px;
  width: 100%; }

.desc-container {
  margin: 10px auto;
  width: 270px; }

.desc-container > p {
  color: #9a9a9a;
  font-size: 14px;
  text-align: center; }

.desc-hide-small {
  display: none; }

.title-container {
  width: 150px;
  margin: 10px auto; }

.title-container > p {
  text-align: center; }

.title-container > p:first-child {
  font-family: "Lora", serif;
  font-size: 18px;
  margin: 5px 0; }

.title-container > p:nth-child(2) {
  font-family: "Denne Sketchy";
  font-size: 40px;
  margin: 0; }

@media only screen and (min-width: 400px) {
  .desc-container {
    margin: 15px auto;
    width: 300px; }

  .desc-container > p {
    font-size: 16px; }

  .title-container {
    width: 180px; }

  .title-container > p:first-child {
    font-size: 22px; }

  .title-container > p:nth-child(2) {
    font-size: 47px; } }
.main-vid-container iframe {
  display: block;
  height: 300px;
  margin: 0 auto;
  width: 300px; }

@media only screen and (min-width: 350px) {
  .main-vid-container iframe {
    height: 350px;
    width: 350px; } }
@media only screen and (min-width: 450px) {
  .main-vid-container iframe {
    height: 450px;
    width: 450px; } }
.sub-vid-container {
  margin: 0 auto 10px;
  width: 300px;
  height: 300px; }

.sub-vid-container:nth-child(2) .sub-vid-text-container {
  width: 196px; }

.sub-vid-container:last-child .sub-vid-text-container {
  width: 145px; }

.sub-vid-img-container {
  position: relative; }
  .sub-vid-img-container .sub-vid-img {
    width: 100%; }

.sub-vid-text-container {
  left: 20px;
  position: absolute;
  top: 100px;
  width: 150px; }
  .sub-vid-text-container .sub-vid-text {
    color: #fff;
    font-size: 25px; }
  .sub-vid-text-container .sub-vid-text:last-child {
    font-size: 26px !important; }

.explore-container {
  display: flex; }
  .explore-container img {
    height: 25px;
    width: 25px; }
  .explore-container p {
    color: #117dcc;
    margin: 4px 10px 0 0; }

@media only screen and (min-width: 350px) {
  .sub-vid-container {
    width: 350px;
    height: 350px; }

  .sub-vid-text-container {
    left: 35px;
    top: 170px; } }
@media only screen and (min-width: 450px) {
  .sub-vid-container {
    width: 450px;
    height: 450px; }

  .sub-vid-text-container {
    top: 240px; } }
.ftr-container {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  padding: 30px 10px; }
  .ftr-container a {
    color: #949494;
    text-decoration: none; }

.left-ftr-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px; }
  .left-ftr-container aside {
    display: flex; }
  .left-ftr-container #lang {
    background-color: #f1f1f1;
    border: 0px;
    color: #949494; }
  .left-ftr-container .help-img {
    display: block;
    height: 25px;
    margin-right: 10px;
    width: 25px; }
  .left-ftr-container p {
    font-size: 14px;
    margin: 5px 0 0; }

.right-ftr-container {
  display: flex;
  margin: 15px 0; }

.hide-phone {
  display: none; }

.ftr-icons {
  display: flex;
  justify-content: space-around;
  width: 50%; }
  .ftr-icons img {
    height: 20px;
    width: 20px; }

.header-container {
  height: 50px;
  margin: 25px auto 0;
  padding-left: 10px;
  width: 300px; }
  .header-container img {
    height: 50px;
    width: 50px; }

@media only screen and (min-width: 350px) {
  .header-container {
    width: 350px; } }
@media only screen and (min-width: 450px) {
  .header-container {
    margin-top: 35px;
    padding-left: 20px;
    width: 450px; } }
.logo-container {
  background-color: #1DA1F2;
  padding: 10px 0;
  width: 100%; }
  .logo-container a {
    height: 50px;
    text-decoration: none; }
  .logo-container aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    width: 250px; }
  .logo-container img {
    height: 50px;
    width: 50px; }

@media only screen and (min-width: 320px) {
  .logo-container {
    width: 310px;
    margin: 0 auto; } }
@media only screen and (min-width: 350px) {
  .logo-container {
    width: 100%; } }
@media only screen and (min-width: 360px) {
  .logo-container {
    width: 360px; } }
@media only screen and (min-width: 450px) {
  .logo-container {
    width: 100%; } }
@media only screen and (min-width: 460px) {
  .logo-container {
    width: 460px; } }

/*# sourceMappingURL=app.css.map */
