@import 'fonts/fonts';

$title-font: 'Lora', serif;
$mst3k-font: 'Denne Sketchy';
$desc-font: 'Roboto';
$ftr-font-color: #949494;
$ftr-font-size: 14px;

html,
body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: $desc-font;
}

html {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

main > p {
  font-family: $title-font;
  text-align: center;
}

.top-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px 10px 10px;
  margin: 20px 0;

  a {
    color: $ftr-font-color;
    font-size: $ftr-font-size;
    text-decoration: none;
  }
}

@import 'about/about';
@import 'components/main-video/video';
@import 'components/sub-videos/sub-videos';
@import 'footer/footer';
@import 'header/header';
@import 'logo-bar/logo-bar';