.logo-container {
  background-color: #1DA1F2;
  padding: 10px 0;
  width: 100%;

  a {
    height: 50px;
    text-decoration: none;
  }

  aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px auto;
    width: 250px;
  }

  img {
    height: 50px;
    width: 50px;
  }
}