.logo-container {
  background-color: #1DA1F2;
  padding: 10px 0;
  width: 100%;

  a {
    height: 50px;
    text-decoration: none;
  }

  aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    width: 250px;
  }

  img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 310px){
  .logo-container {
    width: 310px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 350px){
  .logo-container {
    width: 100%;
  }
}

@media only screen and (min-width: 360px){
  .logo-container {
    width: 360px;
  }
}

@media only screen and (min-width: 450px){
  .logo-container {
    width: 100%;
  }
}

@media only screen and (min-width: 460px){
  .logo-container {
    width: 460px;
  }
}

@media only screen and (min-width: 550px){
  .logo-container {
    width: 100%;
  }
}

@media only screen and (min-width: 560px){
  .logo-container {
    width: 560px;
  }
}

@media only screen and (min-width: 650px){
  .logo-container {
    width: 100%;
  }
}

@media only screen and (min-width: 660px){
  .logo-container {
    width: 660px;
  }
}