$ftr-bg-color: #f1f1f1;
$ftr-font-size: 14px;

.ftr-container {
  background-color: $ftr-bg-color;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;

  a {
    color: $ftr-font-color;
    text-decoration: none;
  }
}

.ftr-icons {
  display: flex;
  justify-content: space-around;
  width: 150px;

  img {
    height: 20px;
    width: 20px;
  }
}

.hide-follow-small {
  display: none;
}

.left-ftr-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 300px;
  
  aside {
    display: flex;
  }

  #lang {
    background-color: $ftr-bg-color;
    border: 0px;
    color: $ftr-font-color;
  }

  .help-img {
    display: block;
    height: 25px;
    margin-right: 10px;
    width: 25px;
  }

  p {
    font-size: $ftr-font-size;
    margin: 5px 0 0;
  }
}

.right-ftr-container {
  display: flex;
  margin: 15px 0;
}
