.about-container {
  margin: 10px;
  width: 100%;
}

.title-container {
  width: 150px;
  margin: 10px auto;
}

.title-container > p {
  text-align: center;
}

.title-container > p:first-child {
  font-family: $title-font;
  font-size: 18px;
  margin: 5px 0;
}

.title-container > p:nth-child(2) {
  font-family: $mst3k-font;
  font-size: 40px;
  margin: 0;
}

.desc-container {
  width: 270px;
  margin: 10px auto;
}

.desc-container > p {
  color: #9a9a9a;
  text-align: center;
}

.desc-hide-small {
  display: none;
}