.sub-vid-container {
  margin-bottom: 5px;
}

.sub-vid-container:nth-child(2) {
  .sub-vid-text-container {
    width: 196px;
  }
}

.sub-vid-container:last-child {
  margin-bottom: 0;

  .sub-vid-img-container {
    height: 300px;
    border-bottom: 1px #5d5d5d solid;
  }

  .sub-vid-text-container {
    width: 145px;
  }
}

.sub-vid-img-container {
  position: relative;

  .sub-vid-img {
    width: 300px;
  }
}

.sub-vid-text-container {
  left: 20px;
  position: absolute;
  top: 100px;
  width: 150px;

  .sub-vid-text {
    color: #fff;
    font-size: 25px;
  }

  .sub-vid-text:last-child {
    font-size: 26px !important;
  }
}

.explore-container {
  display: flex;

  img {
    height: 25px;
    width: 25px;
  } 

  p {
    color: #117dcc;
    margin: 4px 10px 0 0;
  }
}