<article>
  <aside ng-repeat="subVideo in subVidVm.subVideos">
    <article class="sub-vid-img-container">
      <img ng-src="{{subVideo.img}}" 
           alt="{{subVideo.alt}}"
           ng-click="subVidVm.showModal($index)">
      <p>{{subVideo.title}}</p>
      <p class="explore">Explore <img src="img/icons/arrow.svg" alt="arrow icon"></p>
    </article>
    <iframe width="560" 
            height="315" 
            ng-src={{subVidVm.convertToTrustedUrl(subVideo.url)}} 
            frameborder="0" 
            gesture="media" 
            allow="encrypted-media" 
            allowfullscreen
            ng-show="subVideo.modalShown">
    </iframe>
  </aside>
</article>