<article>
  <aside class="sub-vid-container" 
         ng-repeat="subVideo in subVidVm.subVideos">
    <article class="sub-vid-img-container" 
             ng-click="subVidVm.showModal($index)">
      <img ng-src="{{subVideo.img}}" 
           alt="{{subVideo.alt}}"
           class="sub-vid-img">
      <aside class="sub-vid-text-container">
        <p class="sub-vid-text">{{subVideo.title}}</p>
        <aside class='explore-container'>
          <p class="explore">Explore</p>
          <img src="img/icons/right-arrow.png" alt="arrow icon">
        </aside>
      </aside>
    </article>
    <iframe width="560" 
            height="315" 
            ng-src={{subVidVm.convertToTrustedUrl(subVideo.url)}} 
            frameborder="0" 
            gesture="media" 
            allow="encrypted-media" 
            allowfullscreen
            ng-show="subVideo.modalShown">
    </iframe>
  </aside>
</article>