.main-vid-container {
  iframe {
    display: block;
    height: 300px;
    margin: 0 auto;
    width: 300px;
  }
}

@media only screen and (min-width: 350px){
  .main-vid-container {
    iframe {
      @include vid-container-size(350px);
    }
  }
}

@media only screen and (min-width: 450px){
  .main-vid-container {
    iframe {
      @include vid-container-size(450px);
    }
  }
}

@media only screen and (min-width: 550px){
  .main-vid-container {
    iframe {
      @include vid-container-size(550px);
    }
  }
}

@media only screen and (min-width: 650px){
  .main-vid-container {
    iframe {
      @include vid-container-size(650px);
    }
  }
}