$header-border: #ddd;

.header-container {
  height: 50px;
  margin: 25px auto 0;
  padding-left: 10px;
  width: 300px;

  img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 350px) {
  .header-container {
    width: 350px;
  }
}

@media only screen and (min-width: 450px) {
  .header-container {
    margin-top: 35px;
    padding-left: 20px;
    width: 450px;
  }
}

@media only screen and (min-width: 550px) {
  .header-container {
    height: 75px;
    margin: 35px 0;
    padding-left: 35px;
    width: 550px;

    img {
      height: 75px;
      width: 75px;
    }
  }
}

@media only screen and (min-width: 650px) {
  .header-container {
    width: 650px;
  }
}

@media only screen and (min-width: 700px) {
  .header-container {
    border: 1px solid $header-border;
    height: 85px;
  }
}