.header-container {
  height: 50px;
  margin: 25px auto 0;
  padding-left: 10px;
  width: 300px;

  img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 350px){
  .header-container {
    width: 350px;
  }
}

@media only screen and (min-width: 450px){
  .header-container {
    margin-top: 35px;
    padding-left: 20px;
    width: 450px;
  }
}

@media only screen and (min-width: 550px){
  .header-container {
    margin-top: 35px;
    padding-left: 20px;
    width: 550px;
  }
}

@media only screen and (min-width: 650px){
  .header-container {
    margin-top: 45px;
    padding-left: 30px;
    width: 650px;
  }
}